:root {
	--sans-serif: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica,
		'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
}

@tailwind base;
@layer base {
	html {
		@apply bg-neutral-100 text-neutral-900 subpixel-antialiased;
		font-family: var(--sans-serif);
	}

	.tick text {
		font-family: var(--sans-serif);
	}

	select {
		@apply rounded-lg border border-gray-300 bg-gray-50 p-1 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500;
	}

	input[type='checkbox'] {
		@apply rounded;
	}
}
@tailwind components;
@layer components {
}

@tailwind utilities;
@layer utilities {
}
